@page "/createprofile"

<style>
    .page {
        height: 100%;
        width: 100%;
    }

    .box-text {
        font: 400 12px/14.4px "Lato";
        letter-spacing: -0.02em;
        color: #413A42;
        margin: 5px;
    }

    .box-titles {
        font: 400 20px/23.46px "Work Sans";
        letter-spacing: -0.02em;
        color: #413A42;
        display: flex;
        align-items: center;
        margin-bottom: 16px;
    }

    .grid-2 {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 364px 586px auto;
        grid-gap: 24px;
    }

    .profile-grid {
        display: grid;
        grid-template-columns: 30% 65%;
        grid-gap: 24px;
        justify-content: center;
        position: absolute;
        top: 226px;
        max-width: 1140px;
        padding-bottom: 50px;
        z-index: 3;
    }

    .publish-button {
        position: absolute;
        left: 77.7%;
        top: 1014px;
        width: 219px;
        height: 58px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: #aba8ac;
    }

    .white-box {
        height: fit-content;
        padding: 24px;
        background: #FFFFFF;
        box-shadow: 0px 1px 5px rgba(66, 0, 74, 0.22), 0px 0.385185px 1.59259px rgba(66, 0, 74, 0.13363), 0px 0.0814815px 0.407407px rgba(66, 0, 74, 0.0863704);
        border-radius: 20px;
    }

    #avatar-placeholder {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 96px;
        height: 96px;
        margin: 12px auto;
        background: #F5F5F5;
        border-radius: 20px;
    }

    .curriculumTextarea {
        padding-top: 50px !important;
    }
        .curriculumTextarea:focus {
            padding-top: 50px !important;
        }

    #upper-text {
        position: relative;
        top: 80px;
        min-width: 1100px;
        width: max-content;
        z-index: 3;
    }
</style>

<header>
    <img src="/images/Lines/create-profile.svg" alt="Linhas orgânicas coloridas" style="position: absolute; top: 0; right: 0; z-index: 1;" />
    <img src="/images/Brand/Logo.svg" alt="Logo We Dancin" style="position: relative; top: 20px; left: 10.2%;" />
</header>


<div style="display: flex; flex-direction: column; align-items: center;">
    <div id="upper-text">
        <h2>@@Name</h2>
        <p>Preencha seu perfil público para atrair e se conectar aos alunos.</p>
    </div>
    <section class="profile-grid">
        <div class="white-box">
            <div id="avatar-placeholder">
                <i class="bi-person-plus" style="font-size: 70px; color: #ACACAC;"></i>
            </div>

            <div style="display: flex; flex-direction: column;">
                <form>
                    <div class="form-floating">
                        <input type="text" class="form-control on-surface active-placeholder" id="floatingText" placeholder="Nome artístico">
                        <label for="floatingText">Nome de usuário</label>
                    </div>
                    <div class="form-floating" style="margin-top: 24px;">
                        <input type="text" class="form-control on-surface active-placeholder" id="floatingInput" placeholder="@@usuário">
                        <label for="floatingInput">@@usuário</label>
                    </div><div class="form-floating" style="margin-top: 24px;">
                        <input type="text" class="form-control on-surface active-placeholder" id="floatingInput" placeholder="Instagram (opcional)">
                        <label for="floatingInput">Instagram (opcional)</label>
                        <p class="box-text">O conteúdo disponível no feed do Instagram estará disponível no seu perfil de professor.</p>
                    </div>
                    <div class="form-floating" style="margin-top: 24px;">
                        <input type="text" class="form-control on-surface active-placeholder" id="floatingInput" placeholder="TikTok (opcional)">
                        <label for="floatingInput">TikTok (opcional)</label>
                        <p class="box-text">O conteúdo disponível no feed do TikTok estará disponível no seu perfil de professor.</p>
                    </div>
                    <div class="form-floating" style="margin-top: 24px;">
                        <input type="text" class="form-control on-surface active-placeholder" id="floatingInput" placeholder="Cidade">
                        <label for="floatingInput">Cidade</label>
                    </div>
                    <div class="form-floating" style="margin-top: 24px;">
                        <select class="form-select on-surface active-placeholder" id="floatingSelect" aria-label="Floating label select example">
                            <option style="border-radius: 20px;" selected>Minas Gerais</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="SP">São Paulo</option>
                            <option value="RO">Roraima</option>
                        </select>
                        <label for="floatingSelect">Estado</label>
                    </div>
                </form>
            </div>
        </div>

        <div class="grid-2">
            <div class="white-box">
                <div class="box-titles">
                    Sobre você
                </div>
                <div style="display: flex; flex-direction: column;">
                    <form>
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Conte um pouco sobre você e o que a dança representa." id="floatingTextarea2" maxlength="120" style="height: 164px"></textarea>
                            <label for="floatingTextarea2">Conte um pouco sobre você e o que a dança representa.</label>
                        </div>
                        <div class="form-floating" style="margin-top: 16px;">
                            <input class="form-control" list="datalistOptions" id="floatingExampleDataList" placeholder="Encontre (a)s modalidade(s) de dança que você vai oferecer aos alunos.">
                            <datalist id="datalistOptions">
                                <option value="San Francisco"></option>
                                <option value="New York"></option>
                            </datalist>
                            <label for="floatingExampleDataList">Encontre (a)s modalidade(s) de dança que você vai oferecer aos alunos.</label>
                        </div>
                    </form>
                </div>
                <div class="box-text">
                    Caso não encontre alguma modalidade específica, entre em contato com o nosso suporte pelo e-mail: <a>suporte@wedancin.com.br</a>
                </div>
            </div>

            <div class="white-box">
                <div class="box-titles">
                    Sua carreira
                </div>
                <div style="display: flex; flex-direction: column;">
                    <form>
                        <div class="form-floating">
                            <textarea class="form-control curriculumTextarea" placeholder="Escreva seu currículo profissional, citando experiências, capacitações, cursos, eventos/workshops etc." id="floatingTextarea2" maxlength="120" style="height: 300px"></textarea>
                            <label for="floatingTextarea2">Escreva seu currículo profissional, citando experiências, capacitações, cursos, eventos/workshops etc.</label>
                        </div>
                        <div class="form-floating" style="margin-top: 24px;">
                            <textarea class="form-control" placeholder="Informações adicionais." id="floatingTextarea2" maxlength="120" style="height: 183px"></textarea>
                            <label for="floatingTextarea2">Informações adicionais.</label>
                        </div>
                    </form>
                </div>
            </div>
            <div style="display: flex; flex-direction: column; align-items: end;"><button class="dark-red-button long-button" style="width: 219px; margin-top: 20px;">Cadastrar</button></div>
        </div>
    </section>
</div>